*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(images/Plinko_background.jpeg);
}
.game-wrapper{
    min-height: 100vh;
    min-width: 800px;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;   
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 35px;
    font-weight: 550;
    width: 100%;
    background-color: #0C1F3F;
}
.heading img{
    position: relative;
    left: -190px;
}
.heading span{
    position: relative;
    left: -80px;
    color: white;
}
.canvas-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
#canvas{
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    height: fit-content;
}
.canvas-options{
    position: absolute;
    right: 30px;
    top: 10px;
    color: white;
    width: 60px;
}
.canvas-options div{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 30px;
    box-shadow: 0 0 10px  black;
}
.selected-line{
    background-color: #6698db;
}
.canvas-options div:hover{
    background-color: #6B85A6;
    cursor: pointer;
}
.canvas-options_title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.play-button{
    position: absolute;
    left: 60px;
    top: 10px;
    border: 5px solid orange;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: orange;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 0 20px  rgb(117, 117, 117);
}
.play-button:hover{
    border: 5px solid rgb(255, 128, 0);
}
.play-button:active{
    color: green;
}
.points-bet-wrapper{
    position: absolute;
    left: 30px;
    top: 110px;
    width: 150px;
    color: white;
}
.points-bet-wrapper__bet{
    margin-bottom: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.points-bet-wrapper__bet--increase,
.points-bet-wrapper__bet--decrease{
   background-color: #1F5282;
   width: 20px;
   height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 10px;
   border-radius: 5px;
   box-shadow: 0 0 10px  black;
   cursor: pointer;
}
.points-bet-wrapper__bet--decrease{
margin-left: 0;
margin-right: 10px;
}
.points-bet-wrapper__bet--increase:active,
.points-bet-wrapper__bet--decrease:active{
    box-shadow: 0 0 0px  black;
}
.points-bet-wrapper__points,.points-bet-wrapper__won-flash{
    color: rgba(255, 255, 255, 0.7);
    border: 3px solid#1F5282;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    left: -10px;
    box-shadow: 0 0 10px  black;
    margin-top: 20px;
}
.points-bet-wrapper__won-flash{
    margin-top: 0;
    margin-bottom: 10px;
    box-shadow: none;
    border: none;
    color: orange;
    display: none;
}
.points-bet-wrapper__won-flash__animate{
    display: flex;
    animation: flashWon linear 3s infinite;
}

@keyframes flashWon {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



